<wo:ERXStyleSheet filename = "footer.css" />
<div id="ft">
  <div id="menuBot">
    <wo:link directActionName="Contacts" secure="$false">Contact Us</wo:link>
    |
    <wo:link directActionName="LegalInfo" secure="$false">Legal Info</wo:link>
    |
    <wo:link directActionName="Terms" secure="$false">Terms Of Service</wo:link>
    |
    <wo:link directActionName="Privacy" secure="$false">Privacy Policy</wo:link>
    | 
    <wo:link href="http://www.legalsounds.com/legalsounds/affiliate/index.htm" >Affiliate Program</wo:link>
    |
    <wo:link directActionName="Partners" secure="$false">Refunds Policy</wo:link>
    | 
    <wo:link directActionName="help" secure="$false">Help</wo:link>
    | 
    <wo:link directActionName="updatesHistory">Updates History</wo:link>
  </div>
  <p>

   
   </p>
  <p class="logo"><wo:img filename="images/logo_small.gif" /></p>
</div>