<wo:switch WOComponentName = "$^roundedBorderOuterPageWrapperName" d2wContext="$d2wContext">
  <div class="$^roundedBorderClassName">
    <div class="r">
      <div class="b">
        <div class="l">
          <div class="el1">
            <div class="el2">
              <div class="el3">
                <div class="el4">
                  <div class="wrapper"><wo:content /> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</wo:switch>